.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;

}

.tab-pane
{
    -fx-tab-min-width: 100px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #d8d8d8;
}

.tab-pane .tab:selected
{
    -fx-background-color: #ab4146;
    -fx-border-style: none;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #383838;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Source Code Pro";
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #f8f8f8;
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
    -fx-font-family: "Source Code Pro";
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
